/* HomePage Section */
.home_page{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.home_wide_banner{
    max-width: 100%;
    margin-bottom: var(--margin-bottom);
}
.single_banner img{
    mask-image: linear-gradient(to bottom,rgb(0,0,0,1),rgb(0,0,0,0));
    z-index: -1;
}
/* Product Section */
.product_section{
    display: flex;
    z-index: 1;
    margin:0 5px;
    flex-wrap: wrap;
    margin-bottom: var(--margin-bottom);
}
/* Decore Section */
.decore_banner{
    margin-bottom: var(--margin-bottom);
}

